.hero{
  height: 100svh;
  .hero-hock{
    padding-top: 200px;
    font-size: 4.375rem;
    font-weight: 700;
  }

  .content{
      padding-top: 100px;
      h2{
        font-size: 40px;
        font-weight: 500;
        color: var(--main);
      }
      h1{
        font-size: 3.75rem;
        font-weight: 400;
        color: var(--text);
      }
    }
}
.Take_care{
  background-color: var(--accent);
}
.join_us{
  p{
    max-width: 400px;
    line-height: 1.7;
  }
}
.home_headline{
  text-align: center;
  font-size: 1.875rem;
  font-weight: 500;
  color: var(--main);
}
.get-started{
  div{
    max-width: 500px;
    p{
    text-align: left;
    }
    a{
      margin-top: 50px;
    }
  }
}
