.hero{
  height: 100svh;
  .hero-hock{
    padding-top: 200px;
    font-size: 70px;
    font-weight: 700;
  }

  .content{
      padding-top: 100px;
      h2{
        font-size: 40px;
        font-weight: 500;
        color: var(--main);
      }
      h1{
        font-size: 60px;
        font-weight: 400;
        color: var(--text);
      }
    }
}
.Take_care{
  background-color: var(--accent);
}
.join_us{
  p{
    max-width: 400px;
    line-height: 1.7;
  }
}
.home_headline{
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  color: var(--main);
}
.get-started{
  div{
    width: 500px;
    p{
    text-align: left;
    }
    a{
      margin-top: 50px;
    }
  }
}
.home{
  color: var(--background);
  .container{
    width: 700px !important;
  }
  padding-top: 100px;
  .panal-main{
    background-color: var(--main);
  }
}
.btn-new-transaction{
  background-color: var(--background);
  border: 1px solid var(--background);
  width:60px ;
  height: 60px;
  font-size: 40px;
  color: var(--background) !important;
  font-weight: 600;
  position:absolute;
  bottom: 100px;
  z-index: 0;
  right: 100px;
  transition: .3s;
  overflow: hidden;
  &:hover{
    color: var(--main) !important;
    border: 1px solid var(--main);

  }
  &::after{
    position: absolute;
    background-color: var(--main);
    content: "";
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    transition: .3s;
    z-index: -1;
    border-radius: 50%;
  }
  &:hover::after{
    transform: translatex(-100%);
  }
}
