<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" routerLink="home">BudgetTraker</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse  navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link" routerLink="home" *ngIf="!auth && !isPage('/home')">Home</a>
        <a class="nav-link" routerLink="transactions" *ngIf="auth && !isPage('/transactions')">Transactions</a>
        <a class="nav-link" routerLink="statistic" *ngIf="auth !isPage('/statistic')">Statistic</a>
        <a routerLink="register" class=" nav-link btn btn-main mx-2"  *ngIf="!auth && !isCurrentRoute('/register')"><i class="fa-solid fa-user-plus"></i> Register</a>
        <a routerLink="login" class=" nav-link btn btn-secandary mx-2" *ngIf="!auth && !isCurrentRoute('/login')"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
        <a  class=" nav-link btn btn-main mx-2" (click)="logoutevent()" *ngIf="auth"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
      </div>
    </div>
  </div>
</nav>
