<div class="container">
  <div class="register autho-form rounded">
    <h2 class="form-head">Register Form</h2>
    <div class="row mt-3">
      <div class="col-sm-12 col-md-6 p-4 ">
        <form [formGroup]="registerForm" class="rounded p-3 " (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="username" class="form-label">User Name:</label>
            <input type="text" class="form-control" id="username" formControlName="name" name="username" placeholder="enter your name">
            <div *ngIf="registerForm.get('name')?.invalid && (registerForm.get('name')?.dirty || registerForm.get('name')?.touched)">
                <small class="text-danger">User Name is required.</small>
            </div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" formControlName="email" name="email" placeholder="enter your email">
            <div *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)">
                <small class="text-danger">A valid email is required.</small>
            </div>
        </div>
       <div class="mb-3 ">
            <label for="password" class="form-label">Password:</label>
            <div class="position-relative">
              <button class="eye" (click)="showPassword()"><i class="fa-regular" [class.fa-eye]="see" [class.fa-eye-slash]="!see"></i></button>
              <input [type]="inputType" class="form-control" id="password" formControlName="password" name="password" placeholder="enter your password">
            </div>
            <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)">
                <p class="text-danger bg-danger-subtle rounded mt-1 p-1">Password is required (minimum 6 characters).</p>
            </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-from rounded-pill ">Register</button>
        </div>
        <div class="redirect">
          <p>Already have an account? <a routerLink="/login">Login</a></p>
        </div>
      </form>
      </div>
      <div class="col-sm-12 col-md-6 p-4 d-sm-none d-md-block">
        <img src="../../assets/svgs/undraw_sign_up_n6im.svg" alt="">
      </div>
    </div>
  </div>
</div>
